<h2>List of Jobs</h2>
<button mat-button (click)="add()" mat-flat-button color="primary">Add Row</button>
<table *ngIf="tableMode; else create" class="table table-striped example-full-width" cellspacing="0">
  <thead>
    <tr>
      <td>Name</td>
      <td>Description</td>
      <td>Scheduled Date</td>
      <td>Created Date</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let j of jobs">
      <ng-template [ngIf]="job?.id != j.id" [ngIfElse]="edit">
        <td>{{j?.name}}</td>
        <td>{{j?.description}}</td>
        <td>{{j?.scheduledTime}}</td>
        <td>{{j?.createdDate}}</td>
        <td>
          <button mat-button (click)="editJob(j)" mat-flat-button color="primary">Edit</button>
          <button mat-button (click)="delete(j)" mat-flat-button color="accent">Delete</button>
        </td>
      </ng-template>
    </tr>
  </tbody>
</table>

  <!--Edit panel-->
  <ng-template #edit>
    <td>
      <input type="text" [(ngModel)]="job.name" class="form-control" />
    </td>
    <td>
      <input type="text" [(ngModel)]="job.description" class="form-control" />
    </td>
    <td>
      <input type="datetime" [(ngModel)]="job.scheduledTime" class="form-control" />
    </td>
    <td>
      <button mat-button (click)="save()" mat-flat-button color="accent">Save</button>
      <button mat-button (click)="cancel()" mat-flat-button color="warning">Cancel</button>
    </td>
  </ng-template>

  <!--add panel-->
  <ng-template #create>
    <div mat-dialog-content>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Name" required [(ngModel)]="job.name">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Description" required [(ngModel)]="job.description">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="ScheduledTime" required  type="datetime-local" [(ngModel)]="job.scheduledTime">
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>
    <div>
      <button mat-button (click)="save(job.id=null)" mat-flat-button color="accent">Save</button>
      <button mat-button (click)="cancel()" mat-flat-button color="warning">Cancel</button>
    </div>
  </ng-template>


