<!-- dialog-box.component.html -->
<h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <table class="example-full-width" cellspacing="0" *ngIf="action != 'Delete'; else elseTemplate">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Name" [(ngModel)]="local_data.name">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Description" [(ngModel)]="local_data.description">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="ScheduledTime"[(ngModel)]="local_data.scheduledTime">
        </mat-form-field>
      </td>
    </tr>
  </table>

  <ng-template #elseTemplate>
    Sure to delete <b>{{local_data.name}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
